body {
  height: 100%;
  font-weight: 150%;
  font-size: 1.0rem;
  color: #7b7b7b;
  background-image: url("./assets/trees.png");
  background-size: 2000px;
  text-align: center;
}

.about {
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #e6e6e6;
  border-radius: 15px;
}


.app {
  text-align: center;
}

.resume img {
  margin: 10% 10% 10% 10%;
  background-color: #e6e6e6;
  border-radius: 15px;

    width: auto ;
    max-width: 100% ;
    height: auto ;
  }

.resume img:hover {
  border: 2px solid #93a373;
}

.contact {
  background-color: #e6e6e6;
  border-radius: 15px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
}

.home {
  background-color: #e6e6e6;
  border-radius: 15px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 25%;
  margin-top: 10%;
}

.home img {
  width: 100%;
  height: auto;
  border-radius: 0 0 16px 15px;
}

.home:hover {
  border: 2px solid #93a373;
}

.navbar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar a:link {
  text-decoration: none;
}

.project {
  margin-top: 10%;
  margin-bottom: 10%;
}

.project a img {
  max-width: 400px;
  height: 350px;
  width: 400px;
  padding: 50px;
  transition: transform .2s;
}

.project a img:hover {
  transform: scale(1.2);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background: #93a373;
  margin-bottom: 5px;
}