body {
  height: 100%;
  font-weight: 200;
  font-size: 1.5rem;
  color: #05386b;
  background-color: #edf5e1;

}

.about {
  margin-left: 25%;
  margin-right: 25%;
}

.app {
  text-align: center;
}

.resume {
  margin-top: 50px;
}

.reachme {
  text-align: center;
  line-height: 150px;
  height: 150px;
}

header {
  background-color: #282c34;
}

.home img {
  width: 50%;
  height: auto;
  margin-bottom: 50px;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #379683;
  padding: 5px;
  color: #8ee4af;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.navbar a:hover {
  color: #5cdb95;
}

.navbar a:link {
  text-decoration: none;
}

.project {
  margin-top: 50px;
}

.project a img {
  max-width: 400px;
  padding: 50px;
  transition: transform .2s;
  /* Animation */
  margin: 0 auto;
}

.project a img:hover {
  transform: scale(1.2);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background: #379683;
  padding: 5px;
}